
https://www.perplexity.ai/search/c7c67e8b-1075-40c1-ab9e-69b6324a8954

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (0.2.63)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (2.2.6)
Requirement already satisfied: requests>=2.31 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (0.11.3)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sherr\miniconda3\envs\myenv\lib\site-packages (from requests>=2.31->yfinance) (2.4.0)

In [9]:
import yfinance as yf
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    582.770752
2024-01-03    568.029480
2024-01-04    569.994934
2024-01-05    566.064026
2024-01-08    572.943237
                 ...
2024-05-27    857.997559
2024-05-28    854.048157
2024-05-29    846.149475
2024-05-30    827.390015
2024-05-31    810.605225
Name: 2330.TW, Length: 98, dtype: float64

In [10]:
from pandas import DataFrame
start_date = '2024-01-01'
end_date = '2025-01-01'

tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data:dict[str:DataFrame]= {ticker: yf.download(ticker,start=start_date, end=end_date, interval='1d',auto_adjust=False) for ticker in tickers }

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:

all_data

{'2330.TW': Price         Adj Close   Close    High     Low    Open    Volume
 Ticker          2330.TW 2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
 Date
 2024-01-02   582.770691   593.0   593.0   589.0   590.0  26059058
 2024-01-03   568.029480   578.0   585.0   576.0   584.0  37106763
 2024-01-04   569.994995   580.0   581.0   577.0   580.0  15309129
 2024-01-05   566.063965   576.0   580.0   574.0   578.0  18158971
 2024-01-08   572.943237   583.0   585.0   579.0   582.0  17761275
 ...                 ...     ...     ...     ...     ...       ...
 2024-12-25  1075.403198  1085.0  1090.0  1080.0  1090.0  15481622
 2024-12-26  1075.403198  1085.0  1090.0  1085.0  1085.0  14374900
 2024-12-27  1080.358887  1090.0  1095.0  1080.0  1080.0  24948385
 2024-12-30  1080.358887  1090.0  1095.0  1085.0  1090.0  23954634
 2024-12-31  1065.491699  1075.0  1085.0  1075.0  1080.0  28397820

 [242 rows x 6 columns],
 '2303.TW': Price       Adj Close      Close       High        Low       Open    Volume
 Ticker        2303.TW    2303.TW    2303.TW    2303.TW    2303.TW   2303.TW
 Date
 2024-01-02  49.163513  51.900002  52.799999  51.299999  52.500000  64217881
 2024-01-03  47.932056  50.599998  51.299999  50.500000  51.200001  75978300
 2024-01-04  48.121510  50.799999  50.900002  50.200001  50.500000  56554331
 2024-01-05  48.121510  50.799999  52.200001  50.599998  51.599998  77391673
 2024-01-08  47.837330  50.500000  51.000000  50.099998  51.000000  63869803
 ...               ...        ...        ...        ...        ...       ...
 2024-12-25  44.049999  44.049999  44.700001  44.049999  44.500000  52528974
 2024-12-26  43.700001  43.700001  44.299999  43.500000  44.299999  26686974
 2024-12-27  43.599998  43.599998  44.049999  43.450001  43.549999  22648295
 2024-12-30  43.099998  43.099998  43.599998  43.099998  43.200001  25586120
 2024-12-31  43.049999  43.049999  43.450001  42.200001  42.700001  43445308

 [242 rows x 6 columns],
 '2454.TW': Price         Adj Close   Close    High     Low    Open    Volume
 Ticker          2454.TW 2454.TW 2454.TW 2454.TW 2454.TW   2454.TW
 Date
 2024-01-02   915.833130   981.0  1015.0   980.0  1010.0  10009034
 2024-01-03   889.693176   953.0   977.0   953.0   976.0  12547023
 2024-01-04   889.309875   928.0   947.0   922.0   940.0   8449251
 2024-01-05   882.601685   921.0   935.0   921.0   929.0   5524580
 2024-01-08   881.643372   920.0   936.0   918.0   930.0   5553064
 ...                 ...     ...     ...     ...     ...       ...
 2024-12-25  1381.102417  1410.0  1430.0  1410.0  1420.0   2381315
 2024-12-26  1390.897583  1420.0  1430.0  1415.0  1420.0   2351336
 2024-12-27  1400.692627  1430.0  1440.0  1420.0  1420.0   2283253
 2024-12-30  1390.897583  1420.0  1435.0  1420.0  1430.0   2765852
 2024-12-31  1386.000000  1415.0  1425.0  1400.0  1410.0   3224086

 [242 rows x 6 columns],
 '2317.TW': Price        Adj Close   Close    High     Low    Open    Volume
 Ticker         2317.TW 2317.TW 2317.TW 2317.TW 2317.TW   2317.TW
 Date
 2024-01-02  102.375000   105.0   105.0   104.0   104.5  19921105
 2024-01-03  101.887505   104.5   105.0   104.0   104.5  18957682
 2024-01-04  101.400002   104.0   105.0   104.0   104.5  15488559
 2024-01-05  101.400002   104.0   104.5   104.0   104.0  13349572
 2024-01-08   98.962502   101.5   104.0   101.5   103.5  34642006
 ...                ...     ...     ...     ...     ...       ...
 2024-12-25  186.500000   186.5   188.0   186.0   186.5  21198608
 2024-12-26  187.500000   187.5   189.0   187.0   187.5  35581123
 2024-12-27  186.500000   186.5   188.0   185.5   187.5  20870917
 2024-12-30  185.000000   185.0   187.0   184.5   185.5  23909208
 2024-12-31  184.000000   184.0   185.0   183.0   184.5  21179875

 [242 rows x 6 columns]}

In [22]:
import pandas as pd
price_df = pd.DataFrame({key:DataFrame['Adj Close'][key] for key, DataFrame in all_data.items()})
price_df1 = price_df.rename(columns={'2330.TW':'台積電','2303.TW':'聯電','2454.TW':'聯發科','2317.TW':'鴻海'})
price_df1

                    台積電         聯電          聯發科          鴻海
Date
2024-01-02   582.770691  49.163513   915.833130  102.375000
2024-01-03   568.029480  47.932056   889.693176  101.887505
2024-01-04   569.994995  48.121510   889.309875  101.400002
2024-01-05   566.063965  48.121510   882.601685  101.400002
2024-01-08   572.943237  47.837330   881.643372   98.962502
...                 ...        ...          ...         ...
2024-12-25  1075.403198  44.049999  1381.102417  186.500000
2024-12-26  1075.403198  43.700001  1390.897583  187.500000
2024-12-27  1080.358887  43.599998  1400.692627  186.500000
2024-12-30  1080.358887  43.099998  1390.897583  185.000000
2024-12-31  1065.491699  43.049999  1386.000000  184.000000

[242 rows x 4 columns]

In [ ]:
#price_df1.head()#確認前幾筆
price_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 242 entries, 2024-01-02 to 2024-12-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     242 non-null    float64
 1   聯電      242 non-null    float64
 2   聯發科     242 non-null    float64
 3   鴻海      242 non-null    float64
dtypes: float64(4)
memory usage: 9.5 KB

In [23]:
import yfinance as yf #取得收盤資訊
ticker = '0050.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data

yf.download()

[*********************100%***********************]  1 of 1 completed

TypeError: download() missing 1 required positional argument: 'tickers'

In [ ]:
import yfinance as yf #取得收盤資訊
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']#階層式索引
#yf.download()

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    582.770752
2024-01-03    568.029480
2024-01-04    569.994934
2024-01-05    566.064026
2024-01-08    572.943237
                 ...
2024-05-27    857.997559
2024-05-28    854.048157
2024-05-29    846.149475
2024-05-30    827.390015
2024-05-31    810.605225
Name: 2330.TW, Length: 98, dtype: float64

In [3]:
import yfinance as yf
ticker = '2330.TW'  # 台灣50 ETF
start_date = '2024-01-01'
end_date = '2024-06-01'

data = yf.download(ticker, start=start_date, end=end_date, interval='1d',auto_adjust=False)
data['Adj Close']['2330.TW']

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    582.770752
2024-01-03    568.029480
2024-01-04    569.994934
2024-01-05    566.064026
2024-01-08    572.943237
                 ...
2024-05-27    857.997559
2024-05-28    854.048157
2024-05-29    846.149475
2024-05-30    827.390015
2024-05-31    810.605225
Name: 2330.TW, Length: 98, dtype: float64

In [6]:
from pandas import DataFrame
start_date = '2024-01-01'
end_date = '20245-01-01'

tickers = ['2330.TW','2303.TW','2454.TW','2317.TW']
all_data:dict[str:DataFrame] = {ticker: yf.download(ticker,start=start_date,end=end_date,interval='1d',auto_adjust=False) for ticker in tickers }#我們沒有用in iterable /condition

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['2330.TW']: ValueError("time data '20245-01-01' does not match format '%Y-%m-%d'")

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['2303.TW']: ValueError("time data '20245-01-01' does not match format '%Y-%m-%d'")
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['2454.TW']: ValueError("time data '20245-01-01' does not match format '%Y-%m-%d'")
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['2317.TW']: ValueError("time data '20245-01-01' does not match format '%Y-%m-%d'")

In [8]:
all_data

{'2330.TW': Empty DataFrame
 Columns: [(Adj Close, 2330.TW), (Close, 2330.TW), (High, 2330.TW), (Low, 2330.TW), (Open, 2330.TW), (Volume, 2330.TW)]
 Index: [],
 '2303.TW': Empty DataFrame
 Columns: [(Adj Close, 2303.TW), (Close, 2303.TW), (High, 2303.TW), (Low, 2303.TW), (Open, 2303.TW), (Volume, 2303.TW)]
 Index: [],
 '2454.TW': Empty DataFrame
 Columns: [(Adj Close, 2454.TW), (Close, 2454.TW), (High, 2454.TW), (Low, 2454.TW), (Open, 2454.TW), (Volume, 2454.TW)]
 Index: [],
 '2317.TW': Empty DataFrame
 Columns: [(Adj Close, 2317.TW), (Close, 2317.TW), (High, 2317.TW), (Low, 2317.TW), (Open, 2317.TW), (Volume, 2317.TW)]
 Index: []}