In [5]:
###學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T#欄列對調

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,67,84,96,50,87,53,58,93,90,62,...,80,78,75,50,66,63,88,81,57,79
英文,54,60,62,94,78,75,76,71,95,85,...,51,74,54,98,78,96,88,77,92,83
數學,87,81,93,96,90,82,81,80,66,80,...,62,85,72,84,66,90,62,70,65,85
地理,55,68,91,84,87,53,58,84,54,79,...,67,98,88,81,87,52,53,53,91,69
歷史,61,82,95,74,55,69,84,65,93,68,...,85,90,51,51,85,61,75,65,90,56