https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [1]:
###學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T#欄列對調

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,65,78,88,54,73,63,82,62,78,53,...,91,66,100,95,90,50,76,86,57,87
英文,94,94,83,77,56,86,59,62,64,55,...,68,76,85,72,74,62,79,73,99,75
數學,57,55,92,91,82,73,80,59,53,66,...,98,50,98,74,98,76,56,96,71,95
地理,58,76,63,76,85,66,57,73,56,62,...,96,56,69,50,60,97,97,94,52,97
歷史,58,51,83,58,81,52,75,56,66,50,...,64,84,65,61,80,70,82,96,63,89

In [3]:
scores_pd.index
scores_pd.index.name='學號'
scores_pd.columns.name='科目'
sum_value = scores_pd['總分']=scores_pd.sum(axis=1)
mean_value = np.mean(scores_pd,axis=1)
#有改變它就不要再執行這一塊

In [4]:
scores_pd['總分']=sum_value
scores_pd['平均']=mean_value

In [5]:
#排序
scores_pd1 = scores_pd.sort_values(by='總分',ascending=False)
scores_pd1

科目   國文  英文  數學   地理  歷史   總分          平均
學號
48   86  73  96   94  96  445  148.333333
50   87  75  95   97  89  443  147.666667
30   88  82  96   78  97  441  147.000000
29   61  93  70  100  99  423  141.000000
28  100  90  67   82  82  421  140.333333
41   91  68  98   96  64  417  139.000000
43  100  85  98   69  65  417  139.000000
21   93  76  83   78  84  414  138.000000
3    88  83  92   63  83  409  136.333333
16  100  97  76   54  81  408  136.000000
38   95  58  87   86  81  407  135.666667
17   77  82  90   94  63  406  135.333333
13   92  68  87   97  61  405  135.000000
24   99  70  50  100  85  404  134.666667
11   74  51  94   99  85  403  134.333333
45   90  74  98   60  80  402  134.000000
40   64  99  64   97  77  401  133.666667
19   96  94  73   75  56  394  131.333333
34   72  95  81   79  65  392  130.666667
47   76  79  56   97  82  390  130.000000
31   94  65  76   73  80  388  129.333333
35   86  85  61   82  73  387  129.000000
32   93  75  65   57  95  385  128.333333
22   75  79  73   57  95  379  126.333333
12   50  99  71   76  82  378  126.000000
5    73  56  82   85  81  377  125.666667
26   63  89  98   57  64  371  123.666667
36   59  89  70   95  55  368  122.666667
39   68  81  60   98  55  362  120.666667
18   66  64  69   91  70  360  120.000000
23   76  53  66   95  68  358  119.333333
27   68  52  79   65  94  358  119.333333
4    54  77  91   76  58  356  118.666667
46   50  62  76   97  70  355  118.333333
2    78  94  55   76  51  354  118.000000
7    82  59  80   57  75  353  117.666667
44   95  72  74   50  61  352  117.333333
14   54  61  68   98  66  347  115.666667
25   63  76  68   50  89  346  115.333333
49   57  99  71   52  63  342  114.000000
6    63  86  73   66  52  340  113.333333
1    65  94  57   58  58  332  110.666667
42   66  76  50   56  84  332  110.666667
15   62  61  97   50  60  330  110.000000
20   55  57  50   72  95  329  109.666667
9    78  64  53   56  66  317  105.666667
33   56  94  54   62  51  317  105.666667
8    62  62  59   73  56  312  104.000000
37   50  65  56   54  73  298   99.333333
10   53  55  66   62  50  286   95.333333

In [ ]:
#排序ascending是由小到大
#scores_pd1=scores_pd.sort_values(by='總分',ascending=False)
scores_pd1.rank(axis=0,method='average')

In [ ]:
#排序
scores_pd1['排名'] = scores_pd1['總分'].rank(axis=0,method='max',ascending=False)

In [6]:
scores_pd1
scores_pd1.iloc[-5:]

科目  國文  英文  數學  地理  歷史   總分          平均
學號
9   78  64  53  56  66  317  105.666667
33  56  94  54  62  51  317  105.666667
8   62  62  59  73  56  312  104.000000
37  50  65  56  54  73  298   99.333333
10  53  55  66  62  50  286   95.333333

In [7]:
scores_pd1
scores_pd1.map(lambda v:float(v))

科目     國文    英文    數學     地理    歷史     總分          平均
學號
48   86.0  73.0  96.0   94.0  96.0  445.0  148.333333
50   87.0  75.0  95.0   97.0  89.0  443.0  147.666667
30   88.0  82.0  96.0   78.0  97.0  441.0  147.000000
29   61.0  93.0  70.0  100.0  99.0  423.0  141.000000
28  100.0  90.0  67.0   82.0  82.0  421.0  140.333333
41   91.0  68.0  98.0   96.0  64.0  417.0  139.000000
43  100.0  85.0  98.0   69.0  65.0  417.0  139.000000
21   93.0  76.0  83.0   78.0  84.0  414.0  138.000000
3    88.0  83.0  92.0   63.0  83.0  409.0  136.333333
16  100.0  97.0  76.0   54.0  81.0  408.0  136.000000
38   95.0  58.0  87.0   86.0  81.0  407.0  135.666667
17   77.0  82.0  90.0   94.0  63.0  406.0  135.333333
13   92.0  68.0  87.0   97.0  61.0  405.0  135.000000
24   99.0  70.0  50.0  100.0  85.0  404.0  134.666667
11   74.0  51.0  94.0   99.0  85.0  403.0  134.333333
45   90.0  74.0  98.0   60.0  80.0  402.0  134.000000
40   64.0  99.0  64.0   97.0  77.0  401.0  133.666667
19   96.0  94.0  73.0   75.0  56.0  394.0  131.333333
34   72.0  95.0  81.0   79.0  65.0  392.0  130.666667
47   76.0  79.0  56.0   97.0  82.0  390.0  130.000000
31   94.0  65.0  76.0   73.0  80.0  388.0  129.333333
35   86.0  85.0  61.0   82.0  73.0  387.0  129.000000
32   93.0  75.0  65.0   57.0  95.0  385.0  128.333333
22   75.0  79.0  73.0   57.0  95.0  379.0  126.333333
12   50.0  99.0  71.0   76.0  82.0  378.0  126.000000
5    73.0  56.0  82.0   85.0  81.0  377.0  125.666667
26   63.0  89.0  98.0   57.0  64.0  371.0  123.666667
36   59.0  89.0  70.0   95.0  55.0  368.0  122.666667
39   68.0  81.0  60.0   98.0  55.0  362.0  120.666667
18   66.0  64.0  69.0   91.0  70.0  360.0  120.000000
23   76.0  53.0  66.0   95.0  68.0  358.0  119.333333
27   68.0  52.0  79.0   65.0  94.0  358.0  119.333333
4    54.0  77.0  91.0   76.0  58.0  356.0  118.666667
46   50.0  62.0  76.0   97.0  70.0  355.0  118.333333
2    78.0  94.0  55.0   76.0  51.0  354.0  118.000000
7    82.0  59.0  80.0   57.0  75.0  353.0  117.666667
44   95.0  72.0  74.0   50.0  61.0  352.0  117.333333
14   54.0  61.0  68.0   98.0  66.0  347.0  115.666667
25   63.0  76.0  68.0   50.0  89.0  346.0  115.333333
49   57.0  99.0  71.0   52.0  63.0  342.0  114.000000
6    63.0  86.0  73.0   66.0  52.0  340.0  113.333333
1    65.0  94.0  57.0   58.0  58.0  332.0  110.666667
42   66.0  76.0  50.0   56.0  84.0  332.0  110.666667
15   62.0  61.0  97.0   50.0  60.0  330.0  110.000000
20   55.0  57.0  50.0   72.0  95.0  329.0  109.666667
9    78.0  64.0  53.0   56.0  66.0  317.0  105.666667
33   56.0  94.0  54.0   62.0  51.0  317.0  105.666667
8    62.0  62.0  59.0   73.0  56.0  312.0  104.000000
37   50.0  65.0  56.0   54.0  73.0  298.0   99.333333
10   53.0  55.0  66.0   62.0  50.0  286.0   95.333333

In [16]:
def calulate(s): 
    #return 自訂的series
    custom_series = pd.Series([s.min(),s.max(),s.median(),s.std()],index=['最小分數',"最高分數",'中間值','標準差'])
    return custom_series
scores_pd1.iloc[:,:5].apply(calulate)

科目            國文         英文         數學          地理         歷史
最小分數   50.000000  51.000000  50.000000   50.000000  50.000000
最高分數  100.000000  99.000000  98.000000  100.000000  99.000000
中間值    74.500000  76.000000  73.000000   76.000000  73.000000
標準差    15.850076  14.318548  15.033147   17.130579  14.333136

In [14]:
def calulate(s): 
    #return 自訂的series
    custom_series = pd.Series([s.min()],index=['最小分數'])
    return custom_series
scores_pd1.iloc[:,:5].apply(calulate)

科目    國文  英文  數學  地理  歷史
最小分數  50  51  50  50  50