https://www.perplexity.ai/search/0eafd6c8-1230-4d5d-9553-446ea1f18997

In [19]:
###學生成績單

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文','英文','數學','地理','歷史'],index=range(1,51))
scores_pd.T#欄列對調

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
國文,71,66,83,72,86,65,89,90,79,55,...,69,86,52,83,69,61,97,94,86,99
英文,79,55,97,84,62,91,61,93,52,62,...,73,93,95,62,88,59,91,65,94,55
數學,80,75,63,95,55,78,57,87,83,83,...,51,85,60,72,60,71,88,52,86,60
地理,98,99,68,89,94,54,55,78,69,72,...,73,92,70,53,56,69,62,59,52,57
歷史,84,61,90,68,56,66,62,73,53,63,...,59,67,84,82,88,69,84,56,52,78

In [20]:
scores_pd.index
scores_pd.index.name='學號'
scores_pd.columns.name='科目'
sum_value = scores_pd['總分']=scores_pd.sum(axis=1)
mean_value = np.mean(scores_pd,axis=1)
#有改變它就不要再執行這一塊

In [21]:
scores_pd['總分']=sum_value
scores_pd['平均']=mean_value

In [26]:
#排序ascending是由小到大
#scores_pd1=scores_pd.sort_values(by='總分',ascending=False)
scores_pd1.rank(axis=0,method='average')

科目    國文    英文    數學    地理    歷史    總分    平均
學號
23  33.5  43.5  31.0  38.0  46.5  50.0  50.0
42  38.5  40.5  43.0  44.0  23.5  49.0  49.0
47  48.0  37.5  47.0  14.0  37.0  48.0  48.0
8   44.5  40.5  45.5  33.0  27.5  47.0  47.0
20  33.5  34.0  36.0  47.0  29.0  46.0  46.0
1   19.5  28.0  36.0  48.0  37.0  45.0  45.0
4   21.5  32.0  48.0  41.0  25.0  44.0  44.0
30  44.5  45.0  28.5  35.0  13.5  43.0  43.0
14  50.0  48.0  34.0  31.0   1.0  42.0  42.0
3   35.5  48.0  17.0  21.0  40.5  41.0  41.0
29  11.5  14.5  49.0  27.0  46.5  40.0  40.0
26  32.0   1.0  45.5  45.0  32.0  39.0  39.0
32  41.5  37.5  36.0  21.0  16.0  38.0  38.0
16  30.0  28.0  17.0  40.0  27.5  36.5  36.5
25  24.0  33.0  22.5  14.0  42.0  36.5  36.5
19  23.0  28.0  22.5  17.0  44.0  35.0  35.0
31  25.5   5.0  14.5  38.0  50.0  34.0  34.0
17  25.5  23.0  50.0  28.5   7.5  33.0  33.0
15  21.5  37.5   2.0  24.0  44.0  32.0  32.0
34   6.0  48.0  14.5  32.0  30.5  31.0  31.0
27   7.0  48.0   2.0  49.5  20.5  29.5  29.5
13  38.5   8.0  40.0  21.0  33.0  29.5  29.5
18  15.5  26.0  17.0  19.0  44.0  28.0  28.0
49  38.5  42.0  44.0   3.0   2.5  27.0  27.0
24  30.0  20.0  20.5  42.5  20.5  26.0  26.0
11  15.5  21.0  32.0  36.0  18.0  25.0  25.0
12  41.5  30.0  40.0   1.0  20.5  24.0  24.0
28  46.0   3.0  28.5  16.0  34.5  23.0  23.0
45  15.5  35.0  11.5   8.0  39.0  21.5  21.5
43   1.0  43.5  11.5  26.0  37.0  21.5  21.5
40  18.0  31.0  11.5  38.0   9.5  19.5  19.5
2   11.5   8.0  30.0  49.5  12.0  19.5  19.5
6   10.0  37.5  33.0   6.0  20.5  18.0  18.0
5   38.5  17.0   7.5  46.0   5.5  17.0  17.0
44  35.5  17.0  26.5   5.0  34.5  16.0  16.0
21   5.0  23.0  24.0  42.5   9.5  15.0  15.0
50  49.0   8.0  11.5   9.0  30.5  13.5  13.5
22  30.0  48.0   7.5  18.0   2.5  13.5  13.5
39  13.0   3.0   2.0  34.0  48.5  12.0  12.0
38   3.0  25.0  19.0  12.0  40.5  11.0  11.0
9   27.5   3.0  40.0  24.0   4.0  10.0  10.0
10   3.0  17.0  40.0  28.5  16.0   9.0   9.0
35  27.5  12.5  26.5  14.0   7.5   7.5   7.5
46   8.0  12.5  25.0  24.0  26.0   7.5   7.5
48  47.0  19.0   6.0  10.5   5.5   6.0   6.0
41  15.5  23.0   4.5  30.0  11.0   5.0   5.0
7   43.0  14.5   9.0   7.0  13.5   4.0   4.0
33  19.5  11.0  20.5  10.5  23.5   3.0   3.0
37   9.0   8.0   4.5   3.0  48.5   2.0   2.0
36   3.0   8.0  40.0   3.0  16.0   1.0   1.0

In [31]:
#排序
scores_pd1['排名'] = scores_pd1['總分'].rank(axis=0,method='max',ascending=False)

In [33]:
scores_pd1
scores_pd1.iloc[-5:]

科目  國文  英文  數學  地理  歷史   總分          平均    排名
學號
41  69  73  51  73  59  325  108.333333  46.0
7   89  61  57  55  62  324  108.000000  47.0
33  71  56  66  59  67  319  106.333333  48.0
37  62  55  51  52  98  318  106.000000  49.0
36  55  55  83  52  63  308  102.666667  50.0