https://www.perplexity.ai/search/94f7fc8c-0595-416f-b080-1e318bd7404d

In [31]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
#索引(a,1)重複了
data

a  1    0.333520
   2   -0.301098
   3   -0.745346
b  1   -0.084847
   2   -0.482586
c  3    0.125340
   1    0.304716
d  2    1.133906
   3   -1.456436
dtype: float64

In [6]:
data['a']

1    0.398181
2   -0.259668
3   -0.270881
dtype: float64

In [7]:
data['a'][2]

np.float64(-0.25966848521532704)

In [8]:
data['a':'b']

a  1    0.398181
   2   -0.259668
   3   -0.270881
b  1    0.196351
   2    2.657242
dtype: float64

In [25]:
#Series->堆疊資料>(long data)
#2維資料->非堆疊資料>(width data)
#data.unstack()
data.unstack().stack()

a  1    0.052640
   2    0.564245
   3   -0.145419
b  1    0.073870
   2   -1.474075
c  1    0.131673
   3    0.965555
d  2    1.402154
   3    0.050984
dtype: float64

In [ ]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(10),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd','a'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3, 1]])
#索引(a,1)重複了
data.unstack()

In [33]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']]
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

SyntaxError: '(' was never closed (4033147123.py, line 1)

In [34]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [39]:
series1 = frame.stack(level=['縣市','顏色'],future_stack=True)
series1.unstack(level=['key1', '縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [42]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1','key2']
frame.columns.names = ['縣市','顏色']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [44]:
#frame.groupby(level='顏色').sum()
frame.T.groupby(level='顏色').sum()

key1   a      b
key2   1  2   1   2
顏色
Green  2  8  14  20
Red    1  4   7  10