In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('上市公司資料.csv')
df1 = df.reindex(columns=['資料年月','公司代號','公司名稱','產業別','營業收入-當月營收','營業收入-去年同月增減(%)'])
df1

In [ ]:
df1[df1['公司名稱']=='幸福']

In [ ]:
df1[df1['產業別']=='食品工業']

查詢DataFrame的基本資料
dataFrame.head()
dataFrame.trail()
dataFrame.info()

In [7]:
df1.head()
df1.tail()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   資料年月            839 non-null    int64
 1   公司代號            839 non-null    int64
 2   公司名稱            839 non-null    object
 3   產業別             839 non-null    object
 4   營業收入-當月營收       839 non-null    int64
 5   營業收入-去年同月增減(%)  838 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 39.5+ KB

In [6]:
mask = df1['營業收入-去年同月增減(%)'] < 0
df1[mask]

      資料年月  公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
0    11108  1102   亞泥  水泥工業    7069221       -1.724460
2    11108  1109   信大  水泥工業     478276      -19.122427
4    11108  1213   大飲  食品工業      38696       -8.546039
10   11108  1227   佳格  食品工業    2686715       -4.517949
19   11108  1301   台塑  塑膠工業   17450790      -24.646634
..     ...   ...  ...   ...        ...             ...
823  11108  9928   中視    其他      66149       -2.211546
828  11108  9935  慶豐富    其他     415837       -2.938204
832  11108  9940   信義    其他     919977      -56.294280
837  11108  9955   佳龍    其他      81881      -25.099022
838  11108  9958  世紀鋼  鋼鐵工業     757968      -29.395195

[341 rows x 6 columns]